Repository dzakiafif/crowdfunding-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(scope): add logic in login,register
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
  src/prisma/prisma.module.ts
Due: eslint --fix, prettier --write

feat(scope): add seeding
  package.json
  prisma/seed.ts
  tsconfig.json
Due: prettier --write

feat(scope): progress implement auth service
  prisma/seed.ts
  src/auth/auth.service.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat(scope): add progress login
  src/auth/auth.controller.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
Due: eslint --fix, prettier --write

feat(scope): fix testing & api login register
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/common/http-error/http-error.filter.ts
  src/common/zod-validation/zod-validation.pipe.ts
  test/app.e2e-spec.ts
Due: eslint --fix, prettier --write

feat(scope): add faker js for testing
  package.json
  pnpm-lock.yaml
  src/auth/auth.service.spec.ts
Due: eslint --fix, prettier --write

feat(scope): add swagger
  package.json
  pnpm-lock.yaml
  src/auth/auth.controller.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
  src/main.ts
Due: eslint --fix, prettier --write

fix(scope): change url swagger
  src/main.ts
Due: eslint --fix, prettier --write

fix(scope): change testing auth middleware
  src/common/auth/auth.middleware.ts
Due: eslint --fix, prettier --write

feat(scope): add validation schema for env
  src/auth/auth.module.ts
  src/common/common.module.ts
  src/common/dto/common.dto.ts
Due: eslint --fix, prettier --write

feat(scope): change scope testing when register
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
Due: eslint --fix, prettier --write

feat(scope): add testing login
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/common/common.module.ts
Due: eslint --fix, prettier --write

feat(scope): upgrade nestjs from v10 to v11 smoothly
  package.json
  pnpm-lock.yaml
Due: none

feat(scope): migrate eslint + prettier to biome
  .lintstagedrc.json
  biome.json
  package.json
  pnpm-lock.yaml
  prisma/seed.ts
  src/app.module.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
  src/common/auth/auth.guard.spec.ts
  src/common/auth/auth.guard.ts
  src/common/common.module.ts
  src/user/dto/create-user.dto.ts
  src/user/dto/update-user.dto.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

feat(scope): remove eslint and prettier
  .eslintrc.js
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(scope): adding biome format
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.service.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/common/auth/auth.middleware.spec.ts
  src/common/auth/auth.middleware.ts
  src/common/dto/common.dto.ts
  src/common/http-error/http-error.filter.spec.ts
  src/common/http-error/http-error.filter.ts
  src/common/zod-validation/zod-validation.pipe.spec.ts
  src/common/zod-validation/zod-validation.pipe.ts
  src/main.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
  src/types/index.ts
  src/user/dto/create-user.dto.ts
Due: eslint --fix, prettier --write

feat(scope): update packages
  package.json
  pnpm-lock.yaml
Due: none

feat(scope): add crud user in admin
  src/user/dto/update-user.dto.ts
  src/user/user.module.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,test}/**/*.ts
  prettier --write: any of: ./**/*.{ts,js}
